.header {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.header-logo {
    position: relative;
    width: 230px;
    top: 30px;
    left: 17.36%;
}

.header-links {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 55%;
    width: 40%;
    margin-top: -2%;
}

.header-links li {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 22px;
    width: 116px;
    text-align: right;
}
