.card {
    position: relative;
    width: 290px;
    height: 290px;
    background-image: url('/img/avocado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.subtitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 95%;
    height: 95%;
    color: white;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
    font-weight: 700;
    margin: 0;
    padding: 0 0 5% 5%;
    font-size: 28px;
}